<div class="list">
    <div class="top">

    </div>
    <div class="item" ng-class="{'completed': todo.completed}" ng-repeat="todo in todos">

        <input ng-model="todo.completed" type="checkbox" />
        <span ng-click="todo.completed = !todo.completed; todo.edited = true"> </span>
        <label ng-click="goToItem(todo)" ng-hide="editing">{{todo.name}}</label>
        <input id="input" ng-change="todo.edited = true;" ng-blur="editing = false" ng-show="editing" ng-model="todo.name" type="text" />

        <div class="actions">
            <a href="" ng-click="addTodo()">Add</a>
            <a href="" ng-click="saveTodo(todo)">Save</a>
            <a href="" ng-click="editing = !editing">Edit</a>
            <a href="" ng-click="deleteTodo(todo, $index)">Delete</a>
            <a href="" ng-click="moveDown($index)">Up</a>
            <a href="" ng-click="moveUp($index)">Down</a>
        </div>
    </div>
</div>