<div class="list">
    <div class="top">
        <a href="" ng-click="addTodo()">+ Add todo</a>
    </div>
    <div class="item" ng-class="{'completed': todo.completed}" ng-repeat="todo in todos">

        <input ng-model="todo.completed" type="checkbox" />
        <span ng-click="todo.completed = !todo.completed; todo.edited = true"> </span>
        <label ng-click="editing = true" ng-hide="editing">{{todo.name}}</label>
        <input id="input" ng-change="todo.edited = true;" ng-blur="editing = false; saveTodos()" ng-show="editing" ng-model="todo.name" type="text" />

        <div class="actions">
            <a href="" ng-click="deleteTodo(todo, $index)">&cross;</a>
            <a href="" ng-click="moveDown($index); saveTodos()">&bigvee;</a>
            <a href="" ng-click="moveUp($index); saveTodos()">&Wedge;</a>
        </div>
    </div>
</div>