<div class="list">
    <div class="top">
        <a href="" ng-click="addTodoList()">+ Add List</a>
    </div>
    <div class="item" ng-class="{'completed': todoList.completed}" ng-repeat="todoList in todoLists">
            <input ng-model="todoList.completed" type="checkbox" />
            <span ng-click="todoList.completed = !todoList.completed; todoList.editedList = true"> </span>
            <label ng-click="editingList = true" ng-hide="editingList">{{todoLists[$index].name}}</label>
            <input id="input" ng-change="todoList.editedList = true;" ng-blur="editingList = false; saveTodoLists(todoLists)" ng-show="editingList" ng-model="todoList.name" type="text"/>
        <div class="actions">
            <a href=#!todos-page/{{$index}}">&curarr;</a>
            <a href="" ng-click="deleteTodoList(todoList, $index)">&cross;</a>
            <a href="" ng-click="moveDownList($index); saveTodoLists(todoLists)">&bigvee;</a>
            <a href="" ng-click="moveUpList($index); saveTodoLists(todoLists)">&Wedge;</a>
        </div>
    </div>
</div>

